<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Work Out</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/assets/css/main.css"/>
</head>
<body class="homepage is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <div id="header-wrapper">
        <div class="welcome-banner">
            <div class="container" style="text-align: right;">
                <th:block sec:authorize="isAuthenticated()">
                <span class="welcome-text">
                    <span sec:authentication="principal.username"></span>님 반갑습니다
                </span>
                    <a href="/member/mypage" class="auth-link">마이페이지</a>
                    <a href="/logout" class="auth-link">로그아웃</a>
                </th:block>
                <th:block sec:authorize="isAnonymous()">
                    <a href="/member/login" class="auth-link">로그인</a>
                    <a href="/member/join" class="auth-link">회원가입</a>
                </th:block>
            </div>
        </div>
        <div class="container">

            <!-- Header -->
            <header id="header">
                <div class="inner">

                    <!-- Logo -->
                    <h1><a href="/" id="logo">WORK OUT</a></h1>

                    <!-- Nav -->
                    <nav id="nav">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/exercise/notice">운동게시판</a></li>
                            <li><a href="/board/list">자유게시판</a></li>
                            <li><a href="/qna/list">Q&A게시판</a></li>
                        </ul>
                    </nav>
                </div>
            </header>

            <!-- Banner -->
            <div id="banner">
                <h2>건강한 삶을 위한 당신의 첫걸음<br><strong>WorkOut</strong>에 오신 것을 환영합니다!
                    <br/>
                    <br>
                    <ul>WorkOut이 특별한 이유<br>
                        <li><strong>전문성:</strong> 검증된 전문가가 제공하는 신뢰성 높은 콘텐츠</li>
                        <li><strong>편리성:</strong> 언제 어디서나 이용 가능한 서비스</li>
                        <li><strong>맞춤형 서비스:</strong> 개인의 목표와 상황에 맞춘 프로그램 추천</li>
                    </ul>
                <h3>지금 당장 저희와 함께 하시겠습니까?</h3>
                <a href="/member/join" class="button large alt icon solid fa-check-circle">회원가입</a>
            </div>

        </div>
    </div>

    <!-- Main Wrapper -->
    <div id="main-wrapper">
        <div class="wrapper style1">
            <div class="inner">

                <!-- Feature 1 -->
                <section class="container box feature1">
                    <div class="row">
                        <div class="col-12">
                            <header class="first major">
                                <h2>최신 운동 동영상</h2>
                                <p>운동 방법을 모르실때 <strong>정보를 제공해드립니다</strong></p>
                            </header>
                            <a href="/exercise/notice" class="button medium alt icon solid fa-arrow-circle-right">운동게시판으로!</a>
                        </div>
                        <div th:each="exercise : ${latestPosts['exercise']}" class="col-4 col-12-medium">
                            <section>
                                <iframe class="image featured" width="100%" height="300px" th:src="${exercise.url}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                <header class="second icon solid fa-user">
                                    <h3><a th:href="@{/exercise/read(eno=${exercise.id})}">[[${exercise.title}]]</a></h3>
                                    <p>[[${exercise.content}]]</p>
                                </header>
                            </section>
                        </div>

                    </div>
                </section>

            </div>
        </div>
        <div class="wrapper style2">
            <div class="inner">

                <!-- Feature 2 -->
                <section class="container box feature2">
                    <div class="row">
                        <div class="col-6 col-12-medium">
                            <section>
                                <header class="major">
                                    <h2>여러 사람들과 함께 의견을 나누며 <br>운동하고 싶으신가요?</h2>
                                    <p>운동인의 자유로운 의견소통 공간</p>
                                </header>
                                <p>자유롭게 의견을 나누고 개인이 가진 노하우를 나눌수 있는공간, <br>언제든지
                                편하게 물어보고 답해주세요</p>
                                <footer>
                                    <a href="/board/list" class="button medium alt icon solid fa-arrow-circle-right">자유게시판으로</a>
                                </footer>
                            </section>
                        </div>
                        <div class="col-6 col-12-medium">
                            <section>
                                <header class="major">
                                    <h2>운동하는데 전문가의 조언을 듣고싶다?</h2>
                                    <p>전문가에게 묻는 운동 프로그램 및 식단</p>
                                </header>
                                <p>준비된 전문가들이 회원님이 궁금하신 질문들을 해결해 드립니다.
                                <br>궁금한건 언제든지 물어봐주세요
                                </p>
                                <footer>
                                    <a href="/qna/list" class="button medium alt icon solid fa-info-circle">Q&A로</a>
                                </footer>
                            </section>
                        </div>
                    </div>
                </section>

            </div>
        </div>
        <div class="wrapper style3">
            <div class="inner">
                <div class="container">
                    <div class="row">
                        <div class="col-8 col-12-medium">

                            <!-- Article list -->
                            <section class="box article-list">
                                <h2 class="icon fa-file-alt">Recent Posts</h2>

                                <!-- Excerpt -->
                                <article th:each="board : ${latestPosts['board']}" class="box excerpt">
                                    <a th:href="@{/board/read(bno=${board.id})}" class="image left"><img width="240px" height="180px" th:src="|/view/${board.url2}|" alt onerror="this.onerror=null; this.src='/images/exercising.jpg';"/></a>
                                    <div>
                                        <header>
                                            <span class="date">[[${board.regdate}]]</span>
                                            <h3><a th:href="@{/board/read(bno=${board.id})}">[[${board.title}]]</a></h3>
                                        </header>
                                        <p>[[${board.content}]]</p>
                                    </div>
                                </article>


                            </section>
                        </div>
                        <div class="col-4 col-12-medium">

                            <!-- Spotlight -->
                            <section class="box spotlight">
                                <h2 class="icon fa-file-alt">Spotlight</h2>
                                <article>
                                    <a href="#" class="image featured"><img src="images/pic07.jpg" alt=""></a>
                                    <header>
                                        <h3><a href="#">Neural Implants</a></h3>
                                        <p>The pros and cons. Mostly cons.</p>
                                    </header>
                                    <p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus semper mod
                                        quisturpis nisi consequat ornare in, hendrerit in lectus semper mod quis eget mi
                                        quat etiam
                                        lorem. Phasellus quam turpis, feugiat sed et lorem ipsum dolor consequat dolor
                                        feugiat sed
                                        et tempus consequat etiam.</p>
                                    <p>Lorem ipsum dolor quam turpis, feugiat sit amet ornare in, hendrerit in lectus
                                        semper
                                        mod quisturpis nisi consequat etiam lorem sed amet quam turpis.</p>
                                    <footer>
                                        <a href="#" class="button alt icon solid fa-file-alt">Continue Reading</a>
                                    </footer>
                                </article>
                            </section>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Wrapper -->
    <div id="footer-wrapper">
        <footer id="footer" class="container">
            <div class="row">
                <div class="col-3 col-6-medium col-12-small">

<!--                    &lt;!&ndash; Links &ndash;&gt;-->
<!--                    <section>-->
<!--                        <h2>Filler Links</h2>-->
<!--                        <ul class="divided">-->
<!--                            <li><a href="#">Quam turpis feugiat dolor</a></li>-->
<!--                            <li><a href="#">Amet ornare in hendrerit </a></li>-->
<!--                            <li><a href="#">Semper mod quisturpis nisi</a></li>-->
<!--                            <li><a href="#">Consequat etiam phasellus</a></li>-->
<!--                            <li><a href="#">Amet turpis, feugiat et</a></li>-->
<!--                            <li><a href="#">Ornare hendrerit lectus</a></li>-->
<!--                            <li><a href="#">Semper mod quis et dolore</a></li>-->
<!--                            <li><a href="#">Amet ornare in hendrerit</a></li>-->
<!--                            <li><a href="#">Consequat lorem phasellus</a></li>-->
<!--                            <li><a href="#">Amet turpis, feugiat amet</a></li>-->
<!--                            <li><a href="#">Semper mod quisturpis</a></li>-->
<!--                        </ul>-->
<!--                    </section>-->

<!--                </div>-->
<!--                <div class="col-3 col-6-medium col-12-small">-->

<!--                    &lt;!&ndash; Links &ndash;&gt;-->
<!--                    <section>-->
<!--                        <h2>More Filler</h2>-->
<!--                        <ul class="divided">-->
<!--                            <li><a href="#">Quam turpis feugiat dolor</a></li>-->
<!--                            <li><a href="#">Amet ornare in in lectus</a></li>-->
<!--                            <li><a href="#">Semper mod sed tempus nisi</a></li>-->
<!--                            <li><a href="#">Consequat etiam phasellus</a></li>-->
<!--                        </ul>-->
<!--                    </section>-->

<!--                    &lt;!&ndash; Links &ndash;&gt;-->
<!--                    <section>-->
<!--                        <h2>Even More Filler</h2>-->
<!--                        <ul class="divided">-->
<!--                            <li><a href="#">Quam turpis feugiat dolor</a></li>-->
<!--                            <li><a href="#">Amet ornare hendrerit lectus</a></li>-->
<!--                            <li><a href="#">Semper quisturpis nisi</a></li>-->
<!--                            <li><a href="#">Consequat lorem phasellus</a></li>-->
<!--                        </ul>-->
<!--                    </section>-->

<!--                </div>-->
<!--                <div class="col-6 col-12-medium imp-medium">-->

<!--                    &lt;!&ndash; About &ndash;&gt;-->
<!--                    <section>-->
<!--                        <h2><strong>ZeroFour</strong> by HTML5 UP</h2>-->
<!--                        <p>Hi! This is <strong>ZeroFour</strong>, a free, fully responsive HTML5 site-->
<!--                            template by <a href="http://twitter.com/ajlkn">AJ</a> for <a href="http://html5up.net/">HTML5-->
<!--                                UP</a>.-->
<!--                            It's <a href="http://html5up.net/license/">Creative Commons Attribution</a>-->
<!--                            licensed so use it for any personal or commercial project (just credit us-->
<!--                            for the design!).</p>-->
<!--                        <a href="#" class="button alt icon solid fa-arrow-circle-right">Learn More</a>-->
<!--                    </section>-->

                    <!-- Contact -->
                    <section>
                        <h2>Get in touch</h2>
                        <div>
                            <div class="row">
                                <div class="col-6 col-12-small">
                                    <dl class="contact">
                                        <dt>Twitter</dt>
                                        <dd><a href="#">@workout</a></dd>
                                        <dt>Facebook</dt>
                                        <dd><a href="#">facebook.com/workout</a></dd>
                                        <dt>WWW</dt>
                                        <dd><a href="#">workout.com</a></dd>
                                        <dt>Email</dt>
                                        <dd><a href="#">info@workout.com</a></dd>
                                        <dt>Address</dt>
                                        <dd>708, Jungang-daero, Busanjin-gu, Busan, Republic of Korea</dd>
                                        <dt>Phone</dt>
                                        <dd>(051) 111-2222</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
                <div class="col-12">
                    <div id="copyright">
                        <ul class="menu">
                            <li>&copy; WorkOut. All rights reserved</li>
                            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>