<!DOCTYPE HTML>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}" xmlns:margin="http://www.w3.org/1999/xhtml">
<!--<th:block layout:fragment="link">-->
<!--    <link rel="stylesheet" href="/assets/css/style.css">-->
<!--</th:block>-->


<!-- Main Wrapper -->
<div layout:fragment="content" id="main-wrapper">
    <div class="wrapper style2">
        <div class="inner">
            <div class="container">
                <div id="content">
                    <header class="major">
                        <h3>자유게시판</h3>
                    </header>

                    <div style="display: flex; justify-content: flex-end; margin-bottom: 1em;">
                    <form action="/board/list" style="display: flex; gap: 0.5em;">
                        <input type="search" name="keyword"
                               th:value="${pageRequestDTO.keyword}"
                               placeholder="검색어를 입력하세요"
                               style="width: 200px; height: 2.2em; font-size: 0.9em;" />
                        <button type="submit" class="btn-default"
                                style="height: 2.2em; line-height: 2.2em; font-size: 0.9em; padding: 0 1em;">검색</button>
                    </form>
                    <a href="/board/add" class="btn-default"
                       style="margin-left: 0.5em; height: 2.2em; line-height: 2.2em; font-size: 0.9em; padding: 0 1em; display: inline-block; text-align: center;">글쓰기</a>
                    </div>
                    <!-- 게시판 테이블 -->
                    <div class="table-wrapper">
                        <table style="border-collapse: collapse;">
                            <thead>
                            <tr style="border-top: 2px solid #000; border-bottom: 1px solid #000; background-color: #f8f9fa;">
<!--                                <th style="width: 10%; padding: 1em; text-align: center;">번호</th>-->
                                <th style="width: 50%; padding: 1em;">제목</th>
<!--                                작성자 추가-->
                                <th style="width: 15%; padding: 1em; text-align: center;">조회수</th>
                                <th style="width: 25%; padding: 1em; text-align: center;">작성일</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="board:${responseDTO.dtoList}"
                                style="border-bottom: 1px solid #ddd;">
<!--                                <td style="padding: 1em; text-align: center;">[[${board.bno}]]</td>-->
                                <td style="padding: 1em;">
                                    <a th:href="@{/board/read(bno=${board.bno})}" style="text-decoration: none; color: #000;">
                                        [[${board.title}]]
                                        <span th:if="${board.replyCount > 0}"
                                              style="background: #000; color: #fff;
                                                    padding: 0.2em 0.6em; border-radius: 2em;
                                                    font-size: 0.8em; margin-left: 0.5em;">
                                           [[${board.replyCount}]]
                                       </span>
                                    </a>
                                </td>
<!--                                작성자 추가-->
                                <td style="padding: 1em; text-align: center;">[[${board.view}]]</td>
                                <td style="padding: 1em; text-align: center;">
                                    [[${#temporals.format(board.regDate, 'yyyy-MM-dd')}]]
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="margin: 50px 0;">
                        <hr style="margin: 0 0 5px 0; border: 0; border-top: 1px solid #ddd;">
                        <hr style="margin: 0; border: 0; border-top: 1px solid #ddd;">
                    </div>
                    <div class="pagination">
                        <a href="javascript:;" class="firstpage pbtn" data-num="1"><img data-num="1"
                                                                                        th:src="@{/images/btn_firstpage.png}"
                                                                                        alt="첫 페이지로 이동"></a>
                        <a th:if="${responseDTO.prev}" href="javascript:;" class="prevpage pbtn"
                           th:data-num="${responseDTO.start -1}"><img th:data-num="${responseDTO.start -1}"
                                                                      th:src="@{/images/btn_prevpage.png}"
                                                                      alt="이전 페이지로 이동"></a>
                        <th:block th:each="num:${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                            <a href="javascript:;">
                                <span th:class="${responseDTO.page==num} ? 'pagenum currentpage':'pagenum'"
                                      th:data-num="${num}">[[${num}]]</span>
                            </a>
                        </th:block>
                        <th:block th:if="${responseDTO.next}">
                            <a href="javascript:;" class="nextpage pbtn" th:data-num="${responseDTO.end +1}"><img
                                    th:data-num="${responseDTO.end +1}" th:src="@{/images/btn_nextpage.png}"
                                    alt="다음 페이지로 이동"></a>
                        </th:block>

                        <a href="javascript:;" class="lastpage  pbtn" th:data-num="${responseDTO.last}"><img
                                th:data-num="${responseDTO.last}" th:src="@{/images/btn_lastpage.png}"
                                alt="마지막 페이지로 이동"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--    <div class="wrapper style3">-->
<!--        <div class="inner">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-8 col-12-medium">-->
<!--                        &lt;!&ndash; Article list &ndash;&gt;-->
<!--                        <section class="box article-list">-->
<!--                            <h2 class="icon fa-file-alt">최신 글</h2>-->
<!--                            &lt;!&ndash; Excerpt &ndash;&gt;-->
<!--                            <article class="box excerpt">-->
<!--                                <a href="#" class="image left"><img src="images/pic05.jpg" alt=""/></a>-->
<!--                                <div>-->
<!--                                    <header>-->
<!--                                        <span class="date">July 18</span>-->
<!--                                        <h3><a href="#">Adventuring with a knee injury</a></h3>-->
<!--                                    </header>-->
<!--                                    <p>내용</p>-->
<!--                                </div>-->
<!--                            </article>-->

<!--                            &lt;!&ndash; Excerpt &ndash;&gt;-->
<!--                            <article class="box excerpt">-->
<!--                                <a href="#" class="image left"><img src="images/pic06.jpg" alt=""/></a>-->
<!--                                <div>-->
<!--                                    <header>-->
<!--                                        <span class="date">July 14</span>-->
<!--                                        <h3><a href="#">Preparing for Y2K38</a></h3>-->
<!--                                    </header>-->
<!--                                    <p>내용</p>-->
<!--                                </div>-->
<!--                            </article>-->

<!--                        </section>-->
<!--                    </div>-->
<!--                    <div class="col-4 col-12-medium">-->

<!--                        &lt;!&ndash; Spotlight &ndash;&gt;-->
<!--                        <section class="box spotlight">-->
<!--                            <h2 class="icon fa-file-alt">Spotlight</h2>-->
<!--                            <article>-->
<!--                                <a href="#" class="image featured"><img src="images/pic07.jpg" alt=""></a>-->
<!--                                <header>-->
<!--                                    <h3><a href="#">Neural Implants</a></h3>-->
<!--                                    <p>The pros and cons. Mostly cons.</p>-->
<!--                                </header>-->
<!--                                <p>내용</p>-->
<!--                                <footer>-->
<!--                                    <a href="#" class="button alt icon solid fa-file-alt">Continue Reading</a>-->
<!--                                </footer>-->
<!--                            </article>-->
<!--                        </section>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>

<script layout:fragment="script" th:inline="javascript">
</script>
</html>