<!DOCTYPE HTML>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<!-- Main Wrapper -->
<div layout:fragment="content" id="main-wrapper">
    <div class="wrapper style2">
        <div class="inner">
            <div class="container">
                <div id="content">
                    <header class="major">
                        <h3>새 글 등록</h3>
                    </header>

                    <!-- Content -->

                    <div>
                        <form action="/board/modify" method="POST">
                            <ul>
                                <li>
                                    <label style="margin-bottom: 15px;"><h5>제목</h5></label>
                                    <input type="text" name="title" size="110" style="margin-bottom: 30px;"
                                           th:value="${board.title}">
                                </li>
                                <h1></h1>
                                <li>
                                    <div class="editer_content">
                                        <label style="margin-bottom: 15px;"><h5>내용</h5></label>
                                        <textarea name="content" cols="110" rows="20" style="margin-bottom: 30px;">
                                            [[${board.content}]]</textarea>
                                    </div>
                                </li>
                                <h1></h1>
                                <li>
                                    <div class="input-group mb-3">
                                        <label style="margin-bottom: 15px;"><h5>작성자</h5></label>
                                        <input type="text" name="writer" size="50" style="margin-bottom: 30px;"
                                               th:value="${board.writer}" readonly>
                                        <!--                                         <input type="text" name="writer" class="form-control" th:value="${#authentication.principal.username}" readonly>-->
                                    </div>
                                </li>
                                <h1></h1>
                                <li>
                                    <div>
                                        <label style="margin-bottom: 15px;"><h5>이미지</h5></label>
                                        <div class="float-end uploadHidden" style="margin-bottom: 30px;">
                                            <button type="button" class="btn btn-primary uploadFileBtn"
                                                    style="margin-left: 20px;">파일 추가
                                            </button>
                                        </div>
                                    </div>
                                </li>
                                <div style="margin: 10px 0;">
                                    <hr style="margin: 0 0 5px 0; border: 0; border-top: 1px solid #000;">
                                    <hr style="margin: 0; border: 0; border-top: 1px solid #000;">
                                </div>
                                <li>
                                    <div style="margin-top: 50px;">
                                        <button type="submit" style="width: 80px; height: 35px;" class="btn btn-primary modBtn">수정</button>
                                        <a class="btn btn-danger removeBtn" style="width: 80px; height: 35px;">삭제</a>
                                        <button type="button" style="width: 80px; height: 35px; margin-right: 10px;" class="btn btn-default"><a th:href="|@{/board/list}?${list}|">목록</a></button>
                                    </div>
                                </li>
                            </ul>
                        </form>
                        <div class="row mt-3">
                            <div class="col ">
                                <div class="container-fluid d-flex uploadResult" style="flex-wrap: wrap;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="container-fluid d-flex uploadResult" style="flex-wrap: wrap;">
                <th:block th:each="fileName:${board.fileNames}">
                    <div class="card col-4" th:with="arr = ${fileName.split('_')}">
                        <div class="card-header d-flex justify-content-center">
                            [[${arr[1]}]]
                            <button class="btn-sm btn-danger"
                                    th:onclick="removeFile([[${arr[0]}]], [[${arr[1]}]], this)">X
                            </button>
                        </div>
                        <div class="card-body">
                            <img th:src="|/view/s_${fileName}|" th:data-src="${fileName}">
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col ">
            <div class="container-fluid d-flex uploadResult" style="flex-wrap: wrap;"></div>
        </div>
    </div>
    <div class="modal uploadModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">파일 업로드</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group-text mb-3">
                        <input type="file" name="files" class="form-control" multiple>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary uploadBtn">업로드</button>
                    <button type="button" class="btn btn-outline-dark closeUploadBtn">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/upload.js"></script>
</div>

<script layout:fragment="script" th:inline="javascript">
    const formObj2 = document.querySelector("form");
    document.querySelector(".removeBtn").addEventListener("click", function (e) {
        e.preventDefault();
        // 태그의 기본적인 실행하지 않도록 하는 함수, a태그
        e.stopPropagation();
        // 자식태그를 클릭하면 부모태그에 존재하는 스크립트나 기능이 실행되는 것을 막아주는 함수
        formObj2.action = `/board/remove`;
        // form태그의 action과 method의 설정을 remove에 맞게 변경하는 코드
        formObj2.method = "post";
        formObj2.submit();
        // form태그를 실행하는 함수
    }, false)

    const errors = [[${errors}]]
    console.log(errors)
    let errorMsg = ''
    if (errors) {
        for (let i = 0; i < errors.length; i++) {
            errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
        }
        history.replaceState({}, null, null)
        alert(errorMsg)
    }

    const link = [[${pageRequestDTO.getLink()}]]
    const formObj = document.querySelector("#f1")
    document.querySelector(".modBtn").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()
        formObj.action = `/board/modify?${link}`
        // 파일의 이름을 form 태그의 input type = hidden으로 설정
        appendFileData()
        // removeFileList에 저장되어있는 파일을 실제로 삭제하는 처리
        callRemoveFiles()
        formObj.method = 'post'
        formObj.submit()
    }, false)

    function appendFileData() {
        const target = document.querySelector(".uploadHidden")
        const uploadFiles = uploadResult.querySelectorAll("img")
        let str = ''
        for (let i = 0; i < uploadFiles.length; i++) {
            const uploadFile = uploadFiles[i]
            const imgLink = uploadFile.getAttribute("data-src")
            str += `<input type='hidden' name='fileNames' value="${imgLink}">`
        }
        target.innerHTML = str;
    }

    function callRemoveFiles() {
        removeFileList.forEach(({uuid, fileName}) => {
            removeFileToServer({uuid, fileName})
        })
    }

    const removeFileList = []

    function removeFile(uuid, fileName, obj) {
        if (!confirm("파일을 삭제하시겠습니까?")) {
            return
        }
        console.log(uuid)
        console.log(fileName)
        console.log(obj)
        removeFileList.push({uuid, fileName})
        const targetDiv = obj.closest(".card")
        targetDiv.remove()
    }

    const uploadModal = new bootstrap.Modal(document.querySelector(".uploadModal"))
    // upload modal 창 보이기
    document.querySelector(".uploadFileBtn").addEventListener("click", function (e) {
        e.stopPropagation()
        e.preventDefault()
        uploadModal.show()
    }, false)
    // upload modal 창 숨기기
    document.querySelector(".closeUploadBtn").addEventListener("click", function (e) {
        e.stopPropagation()
        e.preventDefault()
        uploadModal.hide()
    }, false)
    // Modal 창의 upload 버튼의 이벤트
    document.querySelector(".uploadBtn").addEventListener("click", function (e) {
        const formObj = new FormData()
        const fileInput = document.querySelector("input[name='files']")
        console.log(fileInput.files)
        const files = fileInput.files
        for (let i = 0; i < files.length; i++) {
            formObj.append("files", files[i]);
        }
        uploadToServer(formObj).then(result => {
            for (const uploadResult of result) {
                showUploadFile(uploadResult)
            }
            uploadModal.hide()
        }).catch(e => {
            // console.log(e)
            uploadModal.hide()
        })
    }, false)
    const uploadResult = document.querySelector(".uploadResult")

    // 파일의 div를 생성하는 함수
    function showUploadFile({uuid, fileName, link}) {
        // div 태그 작성
        const str = `<div class="card col-4">
                <div class="card-header d-flex justify-content-center">
                    ${fileName}
                    <button type="button" class="btn-sm btn-danger" onclick="javascript:removeFile('${uuid}', '${fileName}', this)">X</button>
                </div>
                <div class="card-body">
                    <img src="/view/${link}" data-src="${uuid + "_" + fileName}">
                </div>
                </div>`
        uploadResult.innerHTML += str
    }
</script>
</html>